{eunit_opts, [verbose]}.
{erl_opts, [{parse_transform, lager_transform}]}.

{deps,
 [
  {z_stdlib, ".*",
   {git, "git://github.com/zotonic/z_stdlib.git", {tag, "HEAD"}}},
  {erlsha2, ".*",
   {git, "git://github.com/vinoski/erlsha2.git", {tag, "HEAD"}}},
  {lager, "1.2.0",
   {git, "git://github.com/basho/lager.git", {tag, "1.2.0"}}}
  
 ]}.
